
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.p_main{
 
    text-align: center;
    position: relative;
 width:50%;
 height:100%;
 
    @media (orientation:portrait) {
       height:100%;
        width:100%;
    }
}
.p_tabs{
   
    list-style: none;
    background: rgba(246, 246, 246, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
   height:70px;
margin-bottom:40px;
    transition:all ease 500ms ;
    margin:auto;
    margin-bottom:40px;
    border-radius: 20px;
    align-items: center;
    width:70%;
    
    position:relative ;
    
}
.p_tabs p{
    margin-bottom:0px;
}

@media(orientation:portrait){
    .p_tabs{
        width:90%;
        padding-left:10px;
        padding-right:10px;
    }
}
.p_active_btn{
    background: rgb(255, 255, 255);
    padding:5px;
    border:none;
   width:100px;
   cursor: pointer;
   
    border-radius: 10px;;
}

.p_disible_btn{
    background-color: transparent;
    border: none;
    padding:5px;
    width:100px;
    
    border-radius: 10px;;
   } 
.p_disible_btn:hover{
    cursor: pointer;
    border:2px solid rgba(163, 162, 162, 0.799);
}
   



li{
    z-index:1;
}
.p_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
   width:100%;
  height:70%;
  position:relative;
    margin:auto;
    





   
   
}
@media (max-width:768px){
.p_div{
 height:100%;
    width:95%;
}
}

.project_container{
    display: flex;
    flex-direction: row;
    width:100%;
    height:100%;
    justify-content: space-between;
    align-items: center;

    @media (orientation:portrait){
        flex-direction: column;
       
        height:100%;
        
    }
}

.mob_Img{
    display: none;
    
}

@media (orientation:portrait){
    .mob_Img{
        display: block;
        height:350px;
    margin:auto;
    }
}

.desk_Img{
    display: block;
    width:30%;
 height:70%;
 margin:auto;
 
    align-self: flex-start;
    @media (orientation:portrait) {
        display:none;
        height:40%;
    }
}

.p_img_pros{
    display: flex;
    flex-direction: column;
   
    width:100%;
    height:100svh;
    justify-content: space-around;
    align-items: center;
    @media(orientation:portrait){
        height:100%;
    }
}

.pro_head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x:hidden;
    width:90%;
    margin-bottom:50px;
   

  }
  
  hr{
    width:100px;
    border:2px solid rgb(0, 0, 0);
    border-radius: 50px;
    color:black;
    opacity:1;
  
}

/* .same{
    position: absolute;
    background-color: white;
   width:15%;
    z-index: 0;
    border-radius: 20px;
    height: 50px;
    transition: all 350ms;
}

.first_one{
    left:10%;

  }

  @media(max-width:768px){
    .first_one{
        left:5%;
    }
}

.second_one{
    left:28%;

  }

  @media(max-width:768px){
    .second_one{
        left:23%;
    }
   
}

.third_one{
 
    left:49.5%;

  }

  @media(max-width:768px){
    .third_one{
        left:40%;
    }
}

.fourth_one{

    left:73%;

  }

  @media(max-width:768px){
    .fourth_one{
        left:69%;
    }
} */