
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.p_main{
    height:100svh;
    text-align: center;
}
.p_tabs{
   
    list-style: none;
    background: rgba(246, 246, 246, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   height:70px;
   padding-left:0px;
    transition:all .5s cubic-bezier(8, 0.7, 1.0, 0.1) ;
    
    border-radius: 20px;
    align-items: center;
    width:50%;
    margin:auto;
    position:relative ;
    margin-bottom:50px;
    margin-top:50px;
}

@media(orientation:portrait){
    .p_tabs{
        width:95%;
    }
}
/* .p_active_btn{
    background: rgb(255, 255, 255);
    padding:5px;
    border:none;
    width:100px;
   
   transition:all 450ms;
    border-radius: 10px;;
} */
.p_disible_btn{
    background-color: transparent;
    border: none;
    font-weight: 500;
    
   } 



li{
    z-index:1;
}
.p_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  flex-wrap:wrap;
    width:65%;
    
    margin:auto;
   
    background-color: black;
}
@media (max-width:768px){
.p_div{
    overflow-x: scroll;
    width:95%;
}
}

.same{
    position: absolute;
    background-color: white;
   width:15%;
    z-index: 0;
    border-radius: 20px;
    height: 50px;
    transition: all 350ms;
}

.first_one{
    left:10%;

  }

  @media(max-width:768px){
    .first_one{
        left:5%;
    }
}

.second_one{
    left:28%;

  }

  @media(max-width:768px){
    .second_one{
        left:23%;
    }
   
}

.third_one{
 
    left:49.5%;

  }

  @media(max-width:768px){
    .third_one{
        left:40%;
    }
}

.fourth_one{

    left:73%;

  }

  @media(max-width:768px){
    .fourth_one{
        left:69%;
    }
}