
/* --text: #021816;
--background: #f2fefc;
--primary: #1bf0dd;
--secondary: #8488f7;
--accent: #7f46f3;
 */


.pic{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  height:300px;
  width:300px;
    border-radius:500px;
    display:flex;
    flex-direction:row;
    overflow:hidden;
    justify-content: center;
    align-items: center;
}
.profile-description{
    width:50%;
  
}




.profile-description p{
  font-size:30px;
  color:white;
}

@media (orientation:portrait){
  .profile-description h2{
    font-weight:900;
    font-size:40px;

    
}
}
@media (orientation:portrait){
  .profile-description{
    width:90%;
    order:2
    
}
 }


@media (orientation:portrait){
  section {
    padding: 20px ;
    order:1
  }
}

.banner {
 
  display: flex;
  align-items: center;
  height:500px;
 
  justify-content: space-between;
 
}

@media (orientation:portrait){
  .banner {
    height:300px;
    width:70%;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
}




@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.banner img {
  width: 420px;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  
  height: 420px;
  object-fit: cover;
  animation: morph 3.5s linear infinite;
}

@media (orientation:portrait) {
  .banner img{
   
    width: 100%;
  }
}


.download {
  font-family: inherit;
  font-size: 20px;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  color: white;
  fill: rgb(155, 153, 153);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  font-weight: 500;
}

@media (orientation:portrait){
.download{
  font-size: 14px;
}
}
.download span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.download svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.download:hover {
  background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
  
}

.download:hover .svg-wrapper {
  transform: scale(1.0);
  transition: 1.5s linear;
}

.download:hover svg {
  transform: translateX(3.7em) scale(1.3);
  fill: #fff;
}

.download:hover span {
  opacity: 0;
  transition: 0.5s linear;
}

.download:active {
  transform: scale(0.95);
}



.button_div{
  display:flex;
  flex-direction:row;
 width:100%;
 
  justify-content: space-between;
  align-items: center;
}
.typewriter  {
 padding:0px;
 margin:0px;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #045799;
  font-weight:900;
  font-size:50px;
 
  align-self: flex-start;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 5px solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 ; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(30, end),
    blink-caret .5s step-end infinite;
    animation-direction: alternate;  
}
.typewriter span{
  font-size:80px;
}

@media (orientation:portrait){
  .typewriter h1{
    font-size:28px;
  }
  .typewriter span{
    font-size:45px;
  }
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  40% { border-color: white }
}

