
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=M+PLUS+Rounded+1c&display=swap');

.container{
    height: 280px;
   width:260px;
   position: relative;
   padding-right:0px;
  margin:20px;
 
  @media (orientation:portrait){
  width:100%;
  }
  
}

.p_box{
   height: 100%;
   width:100%;
   background: rgba(246, 246, 246, 0.818);
   border-radius: 20px;;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
  transform-style: preserve-3d;
  top:0px;
  left:0px;
padding:20px;
  position: absolute;
  transition:all ease 1s;
  backface-visibility: hidden;

   
}
.p_box :nth-child(4){
 text-align: center;
 font-size: 15px;;
}


.p_img{
    width:200px;
    height:200px;
    border-radius: 20px;;
}
.p_box p{
    font-family: Julius Sans one;
    font-weight: 900;
    margin-top:10px;
    font-size:20px;
}
.flip_card{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
  padding: 20px;
    height: 100%;
    position:absolute;
    width:100%;
   
    top:0;
   transform: rotateY(180deg);
   backface-visibility: hidden;
    border-radius:20px;
   opacity: 1;
   background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border:2px solid white;
}

.container:hover >.p_box {
    cursor: pointer;
    transform: rotateY(180deg);
    }


.flip_card button{
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
   width: 50%;
   color:black;
   margin:auto;
    border-radius:20px ;
   
}
