@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.skill_main{
   overflow:hidden;
    height:100svh;
    text-align: center;
   
    @media(orientation:portrait){
        padding-right:0px;
        height:100svh;
        margin-top:20px;
        margin-bottom:20px;
    }
}

hr{
    width:100px;
    border:2px solid rgb(0, 0, 0);
    border-radius: 50px;
    color:black;
    opacity:1;
   overflow-x: hidden;
}

.skill_head{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top:50px;
        overflow-x:hidden;
        overflow-y:visible;
}


.s_main{
    
   
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height:100svh;
    padding:0px 0px 20px 40px;
   margin: 0px;
   width: 100%;
}

@media (orientation:portrait){
        .s_main{
            flex-direction:column;
            align-items: center;
           overflow-x:hidden;
          
           justify-content: space-around;
            padding:0px 20px 0px 20px;
           
        }
    }

.svg_pic{
   max-width:40%;
}




@media (orientation:portrait){
    .svg_pic{
       width:80%;
      
       
    }
}

.skills_div{
      
    width:45%;
    
    padding: 0px;
  
    border-radius: 10px;
   
    text-align: center;
   
    display: flex;
    padding-left:20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;;
    transition:box-shadow 550ms;
}
@media (orientation:portrait){
    .skills_div{
       width: 100%;
       margin: 0px;
       
    }
}



.each_skill_div{
    width:100%;
}
.all_skills{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    width:100%;
    padding-top:20px;
    text-align: left;
}

.category{
    font-weight:700;
}
@media (orientation:portrait){
    .category{
        font-size:16px;
        font-weight:700;
      
    }
}


.logo_name{
    
    margin:0px;
    font-weight:900;
}

@media (orientation:portrait){
    .logo_name{
        font-size:15px;
        font-weight:500;
    }
}

.logo{
    height:50px;
    transition: height 450ms ;
}



@media (orientation:portrait){
    .logo{
      height:45px;
    }
}


.cell_div{
    display: flex;
    flex-direction: row;
   list-style: none;
   width:100%;
  margin-top:20px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left:0px;
   margin-bottom: 40px;
}

@media (orientation:portrait){
    .cell_div{
        margin-bottom: 10px;
    
    }
}





      