.con_main{
    height:100svh;
    text-align: center;
    padding:40px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    margin-top:60px;
    align-items: center;
    overflow: hidden;
    font-family:julius sans one ;
    
    @media (orientation:portrait){
        height:100%;
    }
}
.con_main h3{
    font-weight: 700;
}
.con_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;;
    margin-top:80px;

    @media (orientation:portrait){
        flex-direction: column;
        height:100%;
    }
}

.con_section img {
    width:30%;
    @media (orientation:portrait){
        width:70%;
    }
}

.form_div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:500px;
    
    @media (orientation:portrait){
        height:400px;
    }

}


.form_div h2{
    font-family: julius sans one;
    font-weight: 700;
}

.form_div  input, textarea{
    width:320px;
    border: none;
    height:50px;
    font-weight: 700;
    outline-offset: 0px;
    outline: none;
    color:aliceblue;
    
    font-family:julius sans one ;
    background-color: transparent;
    border-bottom: 4px solid rgb(67, 119, 241);
    
}
.form_div button{
    border-radius: 20px;
    width:120px;
    padding:10px;
    border:none;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    color:white;
}