.social-button {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-button:hover {
    transform: translateY(-2px);
  }
  
  .social-button.hovered {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
  }
  .social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
   
    border-radius: 10px;
    
 
    padding: 5px 5px;
    border-radius: 5em;
    
  }
  

  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
   
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
  }

  @media (orientation:portrait){
    .social-button{
        width: 45px;
        height: 45px;
        margin: 0 5px;
      
    }
    
  }
  
  .social-button:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      transform: scale(1.1) ;
  }
  
  .social-buttons svg {
   
    height: 40px;
    width:40px;
  }
  
  .facebook {
    background-color: white;
    &&:hover{
      background-color: #045799;
      fill:white;
    }
  }
  
  .facebook svg {
    fill: #045799;
  }
  
  .facebook:hover svg {
    fill: white;
  }
  
  .github {
    background-color: white;
   
    &&:hover{
      background-color: black;
      fill:white;
     
    }
  }

  .github:hover{

    background-color: black;
  }
  
  .github svg {
    width: 35px;
    height: 35px;
    border-radius:20px;
    fill: #045799;
  }
  
  .github:hover svg {
    background-color: black;
    fill:white;
    
  }
  
  .linkedin {
    background-color: white;
    &&:hover{
      background-color: #045799;
      fill:white;
    }
  }
  
  .linkedin svg {
    fill: #045799;
  }
  
  .linkedin:hover svg {
    fill: white;
  }
  
  .instagram {
    background-color: white;
    &&:hover{
      background-color: #c13584;
      fill:white;
    }
  }
  
  .instagram svg {
    fill: #045799;
  }
  
  .instagram:hover svg {
    fill: white;
  }
  